{% extends 'mailings/base.html' %}
{% block content %}
    <div class="container">
        <div class="row text-center">
            {% for mailingattempt in object_list %}
            <div class="col-3">
                <div class="card mb-4 box-shadow">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">Попытка рассылки: {{ mailingattempt.id }}</h4>
                    </div>
                    <div class="card-body">
                        <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                            <li>Статус попытки: {{ mailingattempt.status }}</li>
                            <li>Ответ почтового сервера: {{ mailingattempt.mail_server_response }}</li>
                            <li>Время попытки: {{ mailingattempt.created_at }}</li>
                        </ul>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}