{% extends 'mailings/base.html' %}
{% block content %}
    <div class="container">
        <div class="row text-center">
            <div class="col-3">
                <div class="card mb-4 box-shadow">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">Рассылка писем: {{ object.massage }}</h4>
                    </div>
                    <div class="card-body">
                        <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                            <li>Статус: {{ object.status }}</li>
                            <li>Получатели:</li>
                            {% for recipient in object.recipients.all %}
                            <li>{{ recipient }}</li>
                            {% endfor %}
                            <li>Рассылка создана: {{ object.created_at }}</li>
                            <li>Статус изменен: {{ object.updated_at }}</li>
                        </ul>
                        <a class="p-2 btn btn-outline-primary" href="{% url 'mailings:newsletter_list' %}">Назад</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}