{% extends 'mailings/base.html' %}
{% block content %}
    <div class="container">
        <div class="row text-center">
            <a class="p-2 btn btn-outline-primary" href="{% url 'mailings:recipient_create' %}">Создать</a>
            {% for recipient in object_list %}
            <div class="col-3">
                <div class="card mb-4 box-shadow">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">Получатель рассылки: {{ recipient.full_name }}</h4>
                    </div>
                    <div class="card-body">
                        <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                            <li>Электронная почта: {{ recipient.email }}</li>
                        </ul>
                        <a class="p-2 btn btn-outline-primary" href="{% url 'mailings:recipient' recipient.pk %}">Посмотреть</a>
                        <a class="p-2 btn btn-outline-primary" href="{% url 'mailings:recipient_update' recipient.pk %}">Редактировать</a>
                        <a class="p-2 btn btn-outline-primary" href="{% url 'mailings:recipient_delete' recipient.pk %}">Удалить</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}