{% extends 'mailings/base.html' %}
{% block content %}
    <div class="container">
        <div class="row text-center">
            <div class="col-3">
                <div class="card mb-4 box-shadow">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">Получатель рассылки: {{ object.full_name }}</h4>
                    </div>
                    <div class="card-body">
                        <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                            <li>Электронная почта: {{ object.email }}</li>
                            <li>Комментарий: {{ object.comment }}</li>
                        </ul>
                        <a class="p-2 btn btn-outline-primary" href="{% url 'mailings:recipient_list' %}">Назад</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}